body {
  background-color: rgb(39, 39, 39);
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  max-width: 800px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 0);
  border-radius: 10px;
}

nav {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 5px 50px rgba(0, 238, 20, 0.911);
}
.icon {
  width: 60px;
  height: 60px;
}
.NavTile {
  color: rgb(0, 255, 0);
  padding-left: 10px;
}
.NavLogo {
  display: flex;
  align-items: center;
}

.searchBar {
  padding: 40px 20px 0px 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.searchField {
  margin-bottom: 40px;
  width: 60vw;
  height: 45px;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid silver;
}

.searchResults {
  padding: 0px 20px 0px 20px;
  font-size: 1.4rem;
  align-items: center;
}

.message {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  display: flex;
  justify-content: center;
  line-height: 2;
}

.result {
  display: flex;
  border: 2px solid silver;
}
.Poster {
  height: 150px;
  max-width: 100px;
}
.des {
  padding: 0px 10px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.link {
  color: rgb(42, 255, 14);
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
}
small {
  margin-left: 10px;
}
