body {
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(39, 39, 39);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 0);
  border-radius: 10px;
}
.paragraph {
  margin: 1rem 3rem;
}
h1 {
  margin: 30px;
}
h3 {
  margin-right: 0.2rem;
}
h2 {
  margin-left: 0.2rem;
}

button {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 5px;
  padding: 5px 25px 5px 10px;
}

#offcanvas {
  position: fixed;
  top: 0;
  width: 400px;
  max-width: 100vw;
  height: 100%;
  background-color: rgb(56, 55, 55);
  box-shadow: 0px 0px 20px rgba(0, 238, 20, 0.911);
  transition: right 0.3s ease;
  right: 0;
  overflow-y: auto;
}

.closeOffcanvasButton {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: rgb(0, 250, 0);
}
#offcanvas::-webkit-scrollbar {
  width: 0;
}

nav {
  font-size: 1.5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
  box-shadow: 0px 5px 50px rgba(0, 238, 20, 0.911);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navBarMargin {
  margin-bottom: 180px;
}

.navContainer {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.icon {
  width: 60px;
  height: 60px;
}
.NavTile {
  color: rgb(0, 255, 0);
  padding-left: 10px;
}
.NavLogo {
  display: flex;
  align-items: center;
}
.NavLink {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 2rem;
  text-decoration: none;
  padding: 10px;
}
.NavLink:hover {
  color: grey;
}

.cartButton {
  position: relative;
  width: 3rem;
  margin-bottom: 6px;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 250, 0);
}
.cartButton:hover {
  background-color: rgb(8, 201, 82);
}
.cartItemsIndicator {
  background-color: red;
  border-radius: 50%;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, 50%);
}
.navBarQuantity {
  margin: 0.2rem 0rem;
}

.primaryContainer {
  margin: 0px 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 238, 20, 0.2);
}
.itemImg {
  height: 150px;
  width: 250px;
  object-fit: contain;
}
.itemNamePrice {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px 0px;
}
.itemName {
  font-weight: bold;
  font-size: 1.5rem;
}
.itemPrice {
  font-size: 1rem;
  color: rgb(197, 194, 194);
}
.countContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countButton {
  background-color: rgba(0, 250, 0, 0.445);
  margin: 10px;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.minusButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}
.removeButton {
  background-color: rgb(80, 2, 2);
  font-size: 1.2rem;
  padding: 5px 20px;
  border-radius: 20px;
}
.addButton {
  background-color: rgb(0, 124, 0);
  margin: 1rem;
  border-radius: 20px;
}
.cartItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px rgba(0, 238, 20, 0.911);
}
.cartImg {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.cartNamePrice {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartQuantity {
  font-weight: bold;
}
.cartQuantityLabel {
  font-size: small;
  font-weight: lighter;
}
.cartButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
}
small {
  margin-left: 10px;
}
