::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 10px;
}
body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 0px 0px 20px 0px;
}
h1 {
  margin: 0rem;
}

.appContainer {
  display: flex;
  flex-direction: column;
}

.navBarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 0px 40px rgba(250, 250, 250, 0.5);
  padding: 1rem;
  gap: 15px;
  margin-bottom: 2rem;
}

.modeButtonsContainer {
  display: flex;
  gap: 0.3rem;
}

.modeButton {
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  border: none;
}
.modeButton:hover {
  color: grey;
}

.NotesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 1rem;
}
.searchTagInputContainer {
  display: flex;
  justify-content: center;
}
.searchTagInput {
  color: white;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.2rem;
  width: 90vw;
  max-width: 500px;
  margin-bottom: 0.4rem;
}

.NoteContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 400px;
  padding: 0.4rem;
  box-shadow: 0px 0px 20px rgba(250, 250, 250, 0.5);
  border-radius: 10px;
}
.NoteTitle {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.2rem;
  margin: 0rem 0rem 1rem 0rem;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
}
.removeButtom {
  background-color: transparent;

  font-size: 1.5rem;
  font-weight: 900;
  color: dimgrey;
  border: none;
}
.NoteTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin: 0rem 0.5rem;
}
.NoteTag {
  padding: 0.5rem 1rem;
  background-color: rgb(7, 147, 212);
  border-radius: 20px;
}
.NoteBody {
  margin: 0.8rem;
  text-align: justify;
}

.NewNote {
  margin: 0vw 5vw;
}
.NewNoteContainer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 0.5rem;
}
.NewNoteTitle {
  width: 90vw;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
}
.NewNoteSelect {
  font-size: 1.2rem;
  width: 90vw;
  color: white;
  background-color: transparent;
}

.select-black-font {
  color: black;
  color: rgb(34, 34, 34);
}
.select-transparent-background {
  background-color: transparent;
}

.NewNoteBody {
  font-size: 1.2rem;
  width: 90vw;
  height: 50vh;
  color: white;
  background-color: transparent;
}
.SaveButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.SaveButton {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: 2px solid silver;
  color: white;
  background-color: transparent;
}

.TagsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTagContainer {
  width: 70vw;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}
.addButtonContainer {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
}
.addButton {
  margin-top: 1rem;
  font-size: 1.9rem;
  font-weight: 900;
  color: white;
  background-color: transparent;
  border: none;
}
