body {
  background-color: rgb(39, 39, 39);
  color: white;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.mainPage {
  max-width: 1000px;
  margin: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  border-radius: 10px;
}

nav {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.5);
}
.icon {
  width: 60px;
  height: 60px;
}
.NavTile {
  color: rgb(108, 226, 255);
  padding-left: 10px;
}
.NavLogo {
  display: flex;
  align-items: center;
}

.PrimaryHeader {
  padding: 30px 20px 0px 20px;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inputText {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.SecondaryHeader {
  padding: 50px 20px 0px 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
#randomImage {
  padding: 20px;
  font-size: 2rem;
  border-radius: 40px;
  color: rgb(21, 248, 0);
  background-color: black;
  box-shadow: 2px 5px 20px rgba(255, 255, 255, 0.5);
}
.finalMem {
  max-width: 98%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

#memContener {
  max-width: 75%;
  height: auto;
  display: flex;
  justify-content: center;
}

#topTextContener,
#bottomTextContener {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}
.topTextContener {
  top: 0;
}
#bottomTextContener {
  bottom: 0;
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
}
small {
  margin-left: 50px;
}
